.commentBlock {
  position: relative;
  margin-bottom: 40px;
  padding: 40px 0 0 98px;

  @media only screen and (max-width: 768px) {
    padding: 28px 0 0 62px;
  }


  &.notFirstBlock {
    margin-left: 70px;
  }

  .authorWrapper {
    position: absolute;
    left: 0;
    top:0;
  }

  .date {
    margin-bottom: 20px;
    color: var(--color-secodary);
    font-size: var(--font-size-s);

    @media only screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
}

  .likesBlock {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
  }
}



